body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 3px solid black;
  padding: 10px;
}


.description {
  white-space: pre-wrap;
}


.time-block {
  border-radius: 15px;
}


.row {
  border-top: 1px solid white;
}


.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}


.past {
  background-color: #d3d3d3;
  color: white;
}


.present {
  background-color: #ff6961;
  color: white;
}


.future {
  background-color: #77dd77;
  color: white;
}


.saveBtn {
  border-left: 3px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}


.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.notification {
  display: none;
  color: black;
  padding-bottom: 1em;
}

.unhide {
  display: block;
}